.cumulative {
    .stroke {
        stroke: #fbac91;
        stroke-width: 2;
    }
    .fill {
        fill: #fbac91;
        opacity: 0.05;
    }
    .point {
        fill: #fbac91;
        stroke: #fbac91;
    }
}

.yourownresults {
    .stroke {
        stroke: #7fdfd4;
        stroke-width: 2;
    }
    .fill {
        fill: #7fdfd4;
        opacity: 0.05;
    }
    .point {
        fill: #7fdfd4;
        stroke: #fbe1b6;
    }
}
